*.suo
*.dll
!packages/*
AutoEscola/obj/
AutoEscola/bin/AutoEscola.dll
AutoEscola/bin/AutoEscola.pdb
AutoEscola.Models/obj/
AutoEscola.Repository/obj/
AutoEscola.Models/bin/
AutoEscola.Repository/bin/
AutoEscola/bin/
