@{
    //Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Create";
}
@model AutoEscola.Models.Empresa
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <legend>Cadastre-se</legend>
            <p>Cadastre seu centro de formação de condutores e controle gratuitamente o cadastro de seus alunos</p>
            @Html.Partial("~/Views/Empresa/_ViewEmpresa.cshtml", Model)
            @Html.Partial("~/Views/_ViewEndereco.cshtml", Model.EnderecoEmpresa)
            @Html.Partial("~/Views/_ViewContato.cshtml", Model.ContatoEmpresa)
            <br />
            <p>
                <input type="submit" value="Cadastrar" />
            </p>
        </fieldset>
    </div>
}