@Html.Partial("~/Views/Shared/_Menu.cshtml")
<div class="page-header header-orange ">
    <div class="page-header-content image-top-home">
        <div class="content">
            <h1>
                Pensando
                <br />
                simples.</h1>
            <h2>
                Ataque a complexidade dos procesos de gestão
                <br />
                de sua auto escola garantindo bons resultados
                <br />
                com o <b class="mark">Auto escola simples</b>
            </h2>
        </div>
    </div>
</div>
<div class="content">
    <div class="box info" style="width: 450px">
        <h2>
            Para alunos</h2>
        Acesse sua conta e <b>acompanhe os processos referentes a sua habilitação</b>. O
        site lhe apresentará um <b>histórico conciso e de fácil entendimento</b> das ocorrências
        geradas a partir do processo de documentação na geração de sua primeira habilitação.
        Aqui você encontrará um elo entre o Centro de formação de condutores e sua na sua
        necessidade de acompanhar o passo a passo do processo de sua habilitação.
        <br />
        <br />@Html.ActionLink("Cadastre-se ou faça seu login", "Index", "Alunos/HomeAlunos", null, new { @class = "button blue" })
    </div>
    <div class="box info" style="width: 500px">
        <h2>
            Para gestores</h2>
        Acesse sua conta e <b>acompanhe os processos referentes a sua habilitação</b>. O
        site lhe apresentará um <b>histórico conciso e de fácil </b>entendimento das ocorrências
        geradas a partir do processo de documentação na geração de sua primeira habilitação.
        Aqui você encontrará um elo entre o Centro de formação de condutores e sua na sua
        necessidade de acompanhar o passo a passo do processo de sua habilitação.
        <br />
        <br />@Html.ActionLink("Entre em contato conosco", "Index", "Alunos/HomeAlunos", null, new { @class = "button blue" })
    </div>
</div>
