@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Página principal";
}
<div>
    <div id="conteudo">
        <div class="column">
            <h2>
                <img src="../../Content/images/onebit_15.png" dir="ltr" />
                Serviços
            </h2>
            <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
        </div>
        <div class="column">
            <h2>
                <img src="../../Content/images/onebit_17.png" />
                Serviços
            </h2>
            <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
        </div>
        <div class="column">
            <h2>
                <img src="../../Content/images/onebit_21.png" dir="rtl" />
                Serviços
            </h2>
            <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
        </div>
    </div>
</div>
