@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="big">teste</header>
    @RenderPage("~/Views/Shared/DefaultScripts.cshtml")
</body>
</html>
