@section css{
	<link href="@Url.Content("~/Content/screen.css")" rel="stylesheet" type="text/css" />
}
@section analytics{
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26110636-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	
	</script>
}
@section scripts{
	<script src="@Url.Content("~/Scripts/easySlider1.7.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#slider").easySlider({
				auto: true,
				continuous: true,
				controlsShow: false,
				pause: 4000
			});

		});	
	</script>
}
@Html.Partial("~/Views/Shared/_Menu.cshtml")
<div class="page-header header-orange ">
	<div class="page-header-content image-top-home">
		<div class="content">
			<h1>
				Pensando
				<br />
				simples.</h1>
			<h2>
				Ataque a complexidade dos processos de gestão
				<br />
				de sua auto escola garantindo bons resultados
				<br />
				com o <b class="mark">Auto escola simples</b>
			</h2>
		</div>
	</div>
</div>
<div class="content">
	<div class="box info" style="width: 400px; height: 250px">
		<h2>
			Você precisa de um sistema para CFC</h2>
		O sistema Auto Escola Simples tem como objetivo permitir um controle fácil de todos
		os processos de uma Auto Escola (CFC). Participe de nossa enquete e nos ajude a
		aperfeiçoar esta ferramenta.
		<br />
		<br />
		<a class="button orange" href="https://docs.google.com/spreadsheet/viewform?formkey=dGRTbUFpa0Vmd0VmV2pyYW45MUJ5VkE6MQ">
			Participe de nossa enquete</a>
	</div>
	<div class="box info" style="width: 500px; height: 250px">
		<div id="slider-content">
			<div id="slider">
				<ul style="height: 250px">
					<li><a href="#">
						<div class="text-slider" style="float: left">
							<h2>
								Evite custos excessivos em ligações</h2>
							Crie um elo inteligente entre você e seu aluno e evite custos desnecessários.
							<br />
							<br />
						</div>
						<img src="../../Content/images/control-img1.jpg" alt="Css Template Preview" />
					</a></li>
					<li><a href="#">
						<div class="text-slider" style="float: left; margin-right: 5px">
							<h2>
								Agendamento simples e seguro</h2>
							Planeje os agendamentos das aulas práticas dos alunos de forma rápida e sem transtorno...
							<br />
							<br />
						</div>
						<img src="../../Content/images/bg_top_home.jpg" alt="Css Template Preview" />
					</a></li>
					<li><a href=@Url.Action("Index", "HomeAlunos", new { area = "Alunos" })>
						<div class="text-slider" style="float: left; margin-right: 5px">
							<h2>
								Ofereça o melhor para seus alunos</h2>
							Um acesso simples e fácil para o acompanhamento das ocorrências geradas a partir
							do seu Centro de Formação de Condutores.
							<br />
						</div>
						<img src="../../Content/images/aluno.jpg" alt="Css Template Preview" />
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
