@section css{
    <link href="@Url.Content("~/Content/screen.css")" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script src="@Url.Content("~/Scripts/easySlider1.7.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#slider").easySlider({
                auto: true,
                continuous: true,
                controlsShow: false,
                pause: 5000
            });
        });	
	</script>
}
@Html.Partial("~/Views/Shared/_Menu.cshtml")
<div class="page-header header-orange ">
    <div class="page-header-content image-top-home">
        <div class="content">
            <h1>
                Pensando
                <br />
                simples.</h1>
            <h2>
                Ataque a complexidade dos procesos de gestão
                <br />
                de sua auto escola garantindo bons resultados
                <br />
                com o <b class="mark">Auto escola simples</b>
            </h2>
        </div>
    </div>
</div>
<div class="content">
    <div class="box info" style="width: 400px; height:250px">
        <h2>
            Para seus alunos</h2>
        <b>Promova um elo inteligente entre você e seus alunos</b>, oferecendo um acesso
        simples e fácil, em uma área específica na qual eles econtrarão um histórico conciso
        e de fácil entendimento das ocorrências geradas a partir dos processos entre o Departamento
        de Trânsito e o seu Centro de Formação de Condutores. 
        <br />
        <br />@Html.ActionLink("Conheça a área do aluno", "Index", "Alunos/HomeAlunos", null, new { @class = "button blue" })
    </div>
    <div class="box info" style="width: 500px; height:250px">
        <div id="slider-content">
            <div id="slider">
                <ul>
                    <li><a href="http://templatica.com/preview/7">
                        <div class="text-slider" style="float: left">
                            <h2>Evite custos excessivos em ligações</h2>
                            Crie um elo inteligente entre você e seu aluno e evite custos desnecessários.
                            <br />
                            <br />
                            <span class="button orange">Saiba mais...</span>
                        </div>
                        <img src="../../Content/images/control-img1.jpg" alt="Css Template Preview" />
                    </a></li>
                    <li><a href="http://templatica.com/preview/7">
                        <div class="text-slider" style="float: left; margin-right: 5px">
                            <h2>Agendamento simples e seguro</h2>
                            Planeje os agendamentos das aulas práticas dos alunos de forma rápida e sem transtorno...
                            <br />
                            <br />
                            <span class="button orange">Saiba mais...</span>
                        </div>
                        <img src="../../Content/images/bg_top_home.jpg" alt="Css Template Preview" />
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
