@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Página principal";
}

<div>
    <div id="conteudo" style="height: 200px">
        <div class="column">
            <h2 style="background-position: left center; line-height: 48px; background-image: url('../../Content/images/onebit_15.png'); background-repeat: no-repeat; padding-left: 50px;">
                Serviços
            </h2>
            <br />
            <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
        </div>
        <div class="column">
            <h2 style="background-position: left center; line-height: 48px; background-image: url('../../Content/images/onebit_17.png'); background-repeat: no-repeat; padding-left: 50px;">
                Serviços
            </h2>
            <br />
            <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
        </div>
        <div class="column">
            <h2 style="background-position: left center; line-height: 48px; background-image: url('../../Content/images/onebit_21.png'); background-repeat: no-repeat; padding-left: 50px;">
                Serviços
            </h2>
            <br />
            <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
        </div>
    </div>
</div>
