<link href="../../Content/formulario.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Acesso</legend>

        <label class="form_label">Usuário</label>
        <div class="form_edit_text">
            @Html.Editor("usuario")
        </div>

        <label class="form_label">Senha</label>
        <div class="form_edit_text">
            @Html.Password("senha")
        </div>

        <input class="form_button" type="submit" value="Acessar" />

        @Html.ActionLink("Cadastra-se", "Create", "Usuario")

        @Html.ValidationSummary(true, "Não foi possível conectar.")
    </fieldset>
}
