@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="menu logo-marca-site">
</div>
<div class="content">
    <div class="box info bord-left-Maroon erro-page">
        <h1>
            Autenticação de
            <br />
            usuário/e-mail e senha.</h1>
        @Html.Partial("~/Views/Shared/_Login.cshtml")
    </div>
</div>
