<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Acesso/Conectar" timeout="2880" />
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>-->

    <trust level="Full"/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <location path="~/Content">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/Views/Shared">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/Scripts">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/Views/Shared/_Layout.cshtml">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>  

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="AutoEscolaContext"
         connectionString="Data Source=tcp:s04.winhost.com;Initial Catalog=DB_21887_autoescola;User ID=DB_21887_autoescola_user;Password=master;Integrated Security=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="AutoEscolaContext"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="AutoEscola"/>
      </providers>
    </membership>

    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="AutoEscolaContext"
             applicationName="AutoEscola"
             name="SqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>

  <!--<connectionStrings>
    <add name="AutoEscolaContext"
         connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=DB_21887_autoescola;User ID=DB_21887_autoescola_user;Password=master;Integrated Security=False;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->


  <!--<connectionStrings>
    <add name="AutoEscolaContext"
         connectionString="Server=localhost;User Id=root;password=root;database=autoescoladb"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <clear />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
           />
    </DbProviderFactories>
  </system.data>-->

  <!--<add autogenerateschema="true"
                connectionStringName="AutoEscolaContext"
                enablePasswordRetrieval="false"
                enablePasswordReset="true"
                requiresQuestionAndAnswer="false"
                requiresUniqueEmail="false"
                passwordFormat="Hashed"
                maxInvalidPasswordAttempts="5"
                minRequiredPasswordLength="6"
                minRequiredNonalphanumericCharacters="0"
                passwordAttemptWindow="10"
                passwordStrengthRegularExpression=""
                applicationName="AutoEscola"
                name="MySqlMembershipProvider"
                type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

  <membership defaultProvider="MySqlMembershipProvider">
    <providers>
      <clear/>
      <add autogenerateschema="true"
               connectionStringName="AutoEscolaContext"
               enablePasswordRetrieval="false"
               enablePasswordReset="true"
               requiresQuestionAndAnswer="false"
               requiresUniqueEmail="false"
               passwordFormat="Hashed"
               maxInvalidPasswordAttempts="5"
               minRequiredPasswordLength="6"
               minRequiredNonalphanumericCharacters="0"
               passwordAttemptWindow="10"
               passwordStrengthRegularExpression=""
               applicationName="AutoEscola"
               name="MySqlMembershipProvider"
               type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </membership>-->


</configuration>


