@model IEnumerable<AutoEscola.Models.Ocorrencia>

@{
    <link href="@Url.Content("~/Content/table.css")" rel="stylesheet" type="text/css" />
}

<br />
<h1>Ocorrências do aluno</h1>

<table>
    <tr>
        <th>
            Data
        </th>
        <th>
            Descricao
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DataCadastro
            </td>
            <td>
                @item.Descricao
            </td>
        </tr>
    }
</table>
