<div>
    <label class="form_label">
        Usuário ( informe login ou email )</label>
    <div class="form_edit_text">
        @Html.Editor("usuario")
    </div>
    <label class="form_label">
        Senha</label>
    <div class="form_edit_text">
        @Html.Password("senha")
    </div>
    <input class="button green" type="submit" value="Acessar" />
    <span>Ou</span>
    @Html.ActionLink("Criar conta agora", "Create", "Usuario")
    @Html.ValidationSummary(true, "Não foi possível conectar.")
</div>
