@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_Menu.cshtml")
<div class="page-header header-blue">
    <div class="page-header-content image-top-home-alunos">
        <div class="content">
            <h1>
                Acompanhamento
                <br />
                simples.</h1>
            <h2>
                Acompanhe os processos de sua habilitação
                <br />
                em seu Centro de Formação de Condutores
                <br />
                com o <b class="mark">Auto escola simples</b>
            </h2>
        </div>
    </div>
</div>
<div class="content">
    <div class="box info" style="width: 600px">
        <h2>
            Área do aluno</h2>
        Aqui, você encontra um elo com seu Centro de Formação de Condutores. Ative
        agora mesmo sua conta, acesse a área do aluno e <b>acompanhe todos os processos referentes
        a sua habilitação</b>. Nesta área lhe será apresentado um <b>histórico conciso e de
        fácil entendimento</b> das ocorrências geradas a partir de processos entre
        o Departamento de Trânsito e o Centro de Formação de Condutores.
        <h2>
            Como acessar?</h2>
        Para acessar sua conta e acompanhar os processos referentes a sua habilitação, <b>você
        precisa estar cadastrado em um Centro de Formação de Condutores 
        </b>. Este por sua vez, deve enviar os dados de ocorrências do
        processo de sua habilitação ao Auto Escola Simples. A partir daí, você poderá cadastrar-se no site e acessar
        uma área específica na qual se econtra informações como data do provão, resultados
        de aprovação, agendamentos de aulas práticas etc.
    </div>
    <div class="box info bord-left-Maroon">
        @Html.Partial("~/Views/Shared/_Login.cshtml")
    </div>
</div>
