@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu logo-marca-site">
</div>
<div class="content">
    <div class="box info" style="margin-top: 50px">
        <h1>
            Bem-vindo ao Auto Escola Simples!
            <br />
            Sua conta de usuário usuário foi ativada
            <br />
            com sucesso.</h1>
    </div>
    <div>
        @Html.ActionLink("Área do aluno", "Index", "HomeAlunos", null, new { @class = "button orange" })
        <a class="button orange" href="@Request.UrlReferrer">Voltar para página anteriror</a> 
    </div>
</div>