*
{
    padding: 0px;
    margin: 0px;
}

body
{
    width: 1280px;
}

#header
{
    background-position: right center;
    margin: 0;
    padding: 0;
    height: 570px;
    background-image: url('images/MP910221051[1].JPG');
    background-repeat: no-repeat;
}

#header h1
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 4em;
    color: #666666;
}

#header h2
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 3em;
    color: #FF9900;
}

#header h3
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 3em;
    color: #666666;
}

#contentHeader
{
    width: 1024px;
    margin: 30px auto;
}

#menu
{
    width: 1024px;
    margin: 200px auto;
    height: 156px;
}


/*--- kwicks gallery ---*/

.kwicks
{
    /* recommended styles for kwicks ul container */
    list-style: none;
    position: absolute;
    overflow: hidden;
    width: 930px;
    height: 156px;
}

.kwicks li
{
    /* these are required, but the values are up to you (must be pixel) */
    width: 186px;
    height: 156px; /*do not change these */
    display: block;
    overflow: hidden;
    padding: 0; /* if you need padding, do so with an inner div (or implement your own box-model hack) */
    cursor: pointer;
    text-align: center;
}

.kwicks.horizontal li
{
    /* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
    margin-right: 0; /*Set to same as spacing option. */
    float: left;
    text-transform: uppercase;
    line-height: 13em;
}

.kwicks.horizontal li a
{
    color: #fff;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
}

.kwicks #kwick1
{
    background-color: #f2b705;
}

.kwicks #kwick2
{
    background-color: #f29f05;
}

.kwicks #kwick3
{
    background-color: #d34e00;
}

.kwicks #kwick4
{
    background-color: #bf0d0d;
}

.kwicks #kwick5
{
    background-color: #980421;
}


/* Conteúdo */

#conteudo
{
    display:block;
    width: 1024px;
    margin: 50px auto;
}

.column
{
    float: left;
    width: 300px;
    margin-right: 20px;
    padding-left: 10px;
    border-left-style: dotted;
    border-left-width: 2px;
    border-left-color: #666666;
}

.column h2
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 3em;
    color: #FF9900;
}

/* footer */

#footer
{
    height: 200px;
}