.image_top_home
{
    background-position: right bottom;
    background-image: url('images/blocks.jpg');
    background-repeat: no-repeat;
}

.image_top_home_alunos
{
    background-position: right top;
    background-image: url('images/MP910221051[2].JPG');
    background-repeat: no-repeat;
}