*
{
    padding: 0px;
    margin: 0px;
}

body
{
    width: 1280px;
}

#header
{
    background-position: right -10px;
    margin: 0;
    padding: 0;
    height: 600px;
    background-image: url('images/00448493_4.jpg');
    background-repeat: no-repeat;
}

#header h1
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 4em;
    color: #666666;
}

#header h2
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 3em;
    color: #FF9900;
}

#header h3
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 3em;
    color: #666666;
}

#contentHeader
{
    width: 1024px;
    margin: 30px auto;
}

#menu
{
    width: 1024px;
    margin: 170px auto;
    height: 156px;
}


/*--- kwicks gallery ---*/

.kwicks
{
    /* recommended styles for kwicks ul container */
    list-style: none;
    position: absolute;
    overflow: hidden;
    width: 930px;
    height: 156px;
}

.kwicks li
{
    /* these are required, but the values are up to you (must be pixel) */
    width: 186px;
    height: 156px; /*do not change these */
    display: block;
    overflow: hidden;
    padding: 0; /* if you need padding, do so with an inner div (or implement your own box-model hack) */
    cursor: pointer;
    text-align: center;
}

.kwicks.horizontal li
{
    /* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
    margin-right: 0; /*Set to same as spacing option. */
    float: left;
    text-transform: uppercase;
    line-height: 13em;
}

.kwicks.horizontal li a
{
    color: #fff;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
}

.kwicks #linkHome
{
    background-color: #f2b705;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.kwicks #linkServicos
{
    background-color: #f29f05;
}

.kwicks #linkCadatro
{
    background-color: #d34e00;
}

.kwicks #linkContato
{
    background-color: #bf0d0d;
}

.kwicks #linkLogin
{
    background-color: #980421;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


/* Conteúdo */

#conteudo
{
    width: 1024px;
    margin: 70px auto;
    display: block;
}

.column
{
    float: left;
    width: 270px;
    margin-right: 20px;
    padding-left: 10px;
    border-left-style: dotted;
    border-left-width: 2px;
    border-left-color: #666666;
}

.column h2
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 3em;
    color: #FF9900;
}

#footer
{
    background-color: #CCCCCC;
    border-width: 2px;
    border-color: #666666;
    border-top-style: dotted;
    height: 100px;
    padding-top: 30px;
}

#contentFooter
{
    height: 100px;
    width: 1024px;
    margin: 0px auto;
}

#footerTwitter
{
    background-position: 5px center;
    float: left;
    background-image: url('images/53.png');
    background-repeat: no-repeat;
    height: 48px;
    margin-right: 50px;
    padding-left: 55px;
    line-height: 24px;
    border-left-style: dotted;
    border-left-width: 2px;
    border-left-color: #666666;
}

#footerTwitter a
{
    text-decoration: none;
}

#footerFacebook
{
    background-position: 5px center;
    float: left;
    background-image: url('images/56.png');
    background-repeat: no-repeat;
    height: 48px;
    margin-right: 50px;
    padding-left: 55px;
    line-height: 24px;
    border-left-style: dotted;
    border-left-width: 2px;
    border-left-color: #666666;
}
