*
{
    padding: 0px;
    margin: 0px;
}

header.big
{
    height: 782px;
   
    background-color: #EAF5F4;
}

header
{
    border-bottom: 0px;
    border-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    outline-style: none;
    outline-color: invert;
    padding-left: 0px;
    outline-width: 0px;
    padding-right: 0px;
    background: none transparent scroll repeat 0% 0%;
    font-size: 100%;
    vertical-align: top;
    border-top: 0px;
    border-right: 0px;
    padding-top: 0px;
}
