h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    text-align: left;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6
{
    color: #333;
    font-weight: bold;
}
h1, h2, h3
{
    letter-spacing: -1px;
}
h1
{
    font-size: 45px;
    line-height: 1;
    margin: 0 0 9px;
}
h2
{
    font-size: 30px;
    line-height: 1.2;
    margin: 9px 0;
}
h3
{
    font-size: 24px;
    line-height: 1;
    margin: 3px 0 9px;
}
h4
{
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}
h5
{
    font-size: 14px;
    line-height: 18px;
}
h6
{
    font-size: 13px;
    line-height: 18px;
}

body
{
    background: #fff;
    font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body.chrome, body.safari
{
    text-shadow: rgba(0,0,0,0.1) 0px 0px 1px;
}

.bord-left-blue
{
    border-left-color: #0066FF;
}

.bord-left-blue b
{
    color: #0066FF;
}

.bord-left-Maroon
{
    border-left-color: #FF6600;
}

.bord-left-Maroon b
{
    color: #FF6600;
}

.bord-left-orange
{
    border-left-color: #FF9900;
}

.bord-left-orange b
{
    color: #FF9900;
}

.bord-left-gold
{
    border-left-color: #FFCC00;
}

.bord-left-gold b
{
    color: #FFCC00;
}

.box
{
    padding-left: 10px;
    margin-right: 10px;
    float: left;
}

.info
{
    border-left-style: dotted;
    border-left-width: 2px;
    width: 300px;
}

.info h2
{
    padding: 5px;
    font-size: 30pt;
}

.info b
{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman' , Times;
}

.page-header
{
    width: 100%;
    position: relative;
    margin: 0 0 20px 0;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #eee;
    clear: both;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.page-header h1
{
    display: block;
    font-size: 81px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;
    color: #222;
}
.page-header h2
{
    margin: 6px 0 0;
    font-size: 24px;
    line-height: 1.25;
    color: #777;
    font-weight: normal;
    letter-spacing: 0;
}
.page-header h2 a
{
    text-decoration: underline;
    font-weight: inherit;
    line-height: inherit;
}
.page-header h2 a.button
{
    display: inline-block;
    position: relative;
    top: -5px;
}
.page-header h1 span, div.page-header h2 span
{
    display: block;
}
.page-header h1 small, div.page-header h2 small
{
    font-size: 75%;
    font-weight: normal;
}


/* Styles for basic forms
-----------------------------------------------------------*/

.content
{
    border-style: none;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 50px auto;
    width: 1024px;
}

.nome-logo
{
    font-family: Georgia, 'Times New Roman' , Times;
    font-style: oblique;
}

Mark
{
    padding: 1px 8px;
    border-radius: 8px;
    background-color: #9900CC;
    color: #FFFFFF;
}

