body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border-style: solid none none none;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 50px auto;
    width: 1024px;
    border-top-width: 1px;
    border-top-color: #ddd;
}

legend 
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size:3em;
    font-weight: bold;
}

fieldset h1, h2
{
    font-family: Segoe UI Light, Verdana, Times New Roman;
    font-size: 2.2em;
    color: #FF9900;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

input[type="text"] 
{
    padding: 5px;
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    padding: 5px;
    width: 200px;
    border: 1px solid #CCC;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
