h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    text-align: left;
}


h1, h2, h3, h4, h5, h6
{
    color: #333;
    font-weight: bold;
    margin-left: 0px;
    padding-left: 0px;
}
h1, h2, h3
{
    letter-spacing: -1px;
}
h1
{
    font-size: 45px;
    line-height: 1;
    margin: 0 0 9px;
}
h2
{
    font-size: 30px;
    line-height: 1;
    margin: 9px 0;
}
h3
{
    font-size: 24px;
    line-height: 1;
    margin: 3px 0 9px;
}
h4
{
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}
h5
{
    font-size: 14px;
    line-height: 18px;
}
h6
{
    font-size: 13px;
    line-height: 18px;
}

body
{
    padding: 0px;
    margin: 0px;
    background: #fff;
    font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body.chrome, body.safari
{
    text-shadow: rgba(0,0,0,0.1) 0px 0px 1px;
}



.logo-marca-site
{
    background-image: url('images/logo-498562_523_100.jpg');
    background-repeat: no-repeat;
    background-position: left center;
}

.content
{
    margin: 0px auto;
    width: 1024px;
    height: auto;
    padding-top: 0;
}

.mark
{
    padding: 1px 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman' , Times;
    font-style: oblique;    
}

.erro-page
{
    margin-top: 50px;
    margin-bottom: 50px;
    float:none;
    width:1024px;
}

.erro-page h2
{
    color: #808080;
}

